.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  background-color: #f0f2f5;
  height: 640px;
}

.content{
  /* background-color: red; */
  padding-top: 72px;
  padding-bottom: 112px;
}

.content2{
  /* background-color: yellow; */
  min-height: 496px;
  margin: 0px 260px;
  padding: 20px 0px;
}

.content3{
  /* background-color: purple; */
  display: inline-block;
  vertical-align: top;
  float: right;
}

.content4{
  background-color: bisque;
  height: 416px;
  width: 396px;
  padding: 65px 25px 25px 25px;
  border-radius: 9px;
  text-align: center;
  box-shadow: 10px 10px gainsboro;
}

.form-control{
  font-size: 18px;
}

.some{
  align-items: center;
  border-bottom: 1px solid ;
  display: flex;
  margin: 30px 1px;
  text-align: center;
}

.change{
  padding: 25px;
}

.dropdown{
  margin-right: 30px;
}

.dropdown-a{
  margin-left: 145px;
  font-size: xx-large;
  cursor: pointer;
}

.show{
  margin-top: 5px;
}

.box1{
  background-color: #f0f2f5;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2{
  background-color: white;
  height: 65%;
  width: 22vw;
  padding-top: 5px;
}

.box3{
  background-color: white;
  height: 9%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cbox1{
  height: 100%;
  width: 35%;
  cursor: pointer;
  background-color: bisque;
  color: black;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 6px;
  /* margin-top: 2px; */
}

.cbox2{
  height: 100%;
  width: 35%;
  cursor: pointer;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 6px;
  /* margin-top: 2px; */
}

.box4{
  text-align: center;
  background-color: bisque;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  height: 88%;
  /* width: 70%; */
}

.box5{
  display: none;
  text-align: center;
  background-color: bisque;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  height: 88%;
  /* width: 70%; */
}

.container{
  padding-top: 60px;
  padding-bottom: 40px;
}

.nav {
  height: 10%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 7em;
}

li {
  margin: 0px 30px;
  list-style: none;
  position: relative;
}

.edit{
  width: 70%;
  display: inline;
  font-size: unset;
}

.edit2{
  margin-left: 18px;
}

.mainImp{
  height: 100vh;
  background-color: black;
}

.roomStyle{
  display: flex;
  height: 90%;
  /* background-color: black; */
  justify-content: space-between;
  width: 100%;
}

.vcroom{
  height: 100%;
  width: 73%;
  background-color: yellow;
  display: flex;
  padding: 5em 0;
  justify-content: space-around;
  align-items: center;
}

.chatBox{
  background-color: red;
  height: 100%;
  width: 25%;
}

.callControl{
  width: 254px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.055);
}

.callBtn{
  width: 254px;
  height: 40px;
  background-color: rgba(52, 47, 47, 0.303);
  /* padding-top: 5px; */
  display: flex;
  justify-content: space-around;
}